{% extends 'base.html.twig' %}

    {% block title %}
        {{ 'event_search_title'|trans }}
    {% endblock %}

    {% block body %}
        <h1>{{ 'event_search_title'|trans }}</h1>
    {% endblock %}